<ActionBar [title]="'Details of ' + name"></ActionBar>

<GridLayout rows="auto,auto,*,auto" columns="*,*" *ngIf="pokemon">

    <!--pojok kiri atas-->
    
    <GridLayout rows="auto,auto,auto,auto,auto" columns="*,*" row="0" col="0";>
        
        <div class="text-center">
        <Label class="h1"[text]="name" row="0" col="0" colSpan="2"></Label>
        <Label [text]="pokemon.types[0].type.name + 
            (pokemon.types[1] ? '/' + pokemon.types[1].type.name : '' )"
            row="1" col="0" colSpan="2"></Label>
        
        <Label text="Hp" row="2" col="0"></Label>
        <Label [text]="pokemon.stats[5].base_stat" row="2" col="1"></Label>
        
        <Label text="Attack" row="3" col="0"></Label>
        <Label [text]="pokemon.stats[4].base_stat" row="3" col="1"></Label>

        <Label text="Deff" row="4" col="0"></Label>
        <Label [text]="pokemon.stats[3].base_stat" row="4" col="1"></Label>
        </div>
        
    </GridLayout>
    



    <!--pojok kanan atas-->
    <div class="sprites">
    <GridLayout rows="auto,auto" columns="*" row="0" col="1">
        <Image [src]="pokemon.sprites.front_default" row="0" col="0"></Image>
        <div class="text-center">
            <Label class="footnote" text="Normal Forms" row="1" col="0" ></Label>
        </div>
    </GridLayout>
    </div>
    
    <!--kanan tengah-
    <div class="sprites">
    <GridLayout rows="auto,auto" columns="*" row="1" col="1">
        <Image [src]="pokemon.sprites.front_shiny" row="0" col="0"></Image>
        <div class="text-center">
            <Label class="footnote" text="Shiny" row="1" col="0" ></Label>
        </div>
    </GridLayout>
    </div>
    -->

    <!--movement-->
    <GridLayout rows="auto,auto,auto" columns="*" row="1" col="0" colSpan="2">
        
        <div class="text-center">
            <Label class="h1" text="Movement" row="0" col="0" ></Label>
            <Label class="h3" [text]="pokemon.moves[0].move.name" row="1" col="0"></Label>
            <Label class="h3" [text]="pokemon.moves[1].move.name" row="2" col="0"></Label>
        </div>

        

    </GridLayout>


    <div class ="text-center">
        <Label class="footnote" text="modified by Eugene 52170334" row="3" col="0" colSpan="2"></Label>
    </div>
    

</GridLayout>
